.Tasks {
    padding: 15px;
}

.Tasks__item:not(:first-child) {
    margin-top: 5px;
}

.Tasks__item:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

.Tasks__item--choose {
    background-color: rgba(0, 0, 0, 0.7);
}

.Tasks__item-value {
    display: inline-block;
    width: 90%;
    padding: 3px;
}

.Tasks__item-remove {
    float: right;
}